<div class="inputs">
  <input type="range" min="1" max="147" [value]="gameDisplayed$ | async" (input)="handleInput($event)">
  <input type="number" min="1" max="147" [value]="gameDisplayed$ | async" (input)="handleInput($event)">
</div>

<app-board [blueField]="blueData$ | async"
           [location]="location$ | async"
           [wins]="wins$ | async | number:'3.0'"
           [loses]="loses$ | async | number:'3.0'"
           [redField]="redData$ | async"></app-board>
