:host {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.inputs {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

input[type="range"] {
  margin-right: 20px;
}

input[type="number"] {
  outline: none;
}
