@font-face {
  font-family: 'VGA';
  font-style: normal;
  font-weight: 500;
  font-display: block;
  src: url("assets/font/vga.woff") format("woff");
}

html, body {
  margin: 0;
  padding: 0;
  font-family: VGA, monospace;
  user-select: none;
  background-color: #161618;
  font-size: 24px;
  color: #30bff7;
  text-shadow: 0 0 7px #5f9cfd, 0 0 48px #2542b3;
}
